@page "/"

<div class="col-12 col-lg-9 col-xl-6">

  <PageTitle>Home</PageTitle>

  <h1>Our To-Do List!</h1>

  <p>Welcome to our new To-Do List App.</p

  <p>This is a simple To-Do List app that allows you to add, edit, and delete tasks. You can also mark tasks as complete or incomplete.</p>

  <p>Click on the "To-Do List" link in the navigation menu to get started or use the To-Do List component below.</p>

</div>

<ToDoList />
